<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net48" />
  <package id="sqlite-net-pcl" version="1.8.116" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_green" version="2.0.4" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.0.4" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.4" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.13" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.13" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.13" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.4" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.13" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>